---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% unless site.data.data.sidebar.oss %}
  {% include oss-contributions.html %}
{% endunless %}

{% unless site.data.data.sidebar.personal-projects %}
  {% include personal-projects.html %}
{% endunless %}

{% include publications.html %}

{% unless site.data.data.sidebar.skills %}
  {% include skills.html %}
{% endunless %}
