---
layout: default
permalink: /projects
---


{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% for project in projects.assignments %}
    <div class="item">
 
      <span class="project-title">
        {{project.title}}
      </span>
      <p> Discription: <br/> {{project.description}} </p>
      {% if project.github %}
      <p><a href="{{ project.github }}">Github</a></p>
      {% endif %}

      <div class="video-container">
        <iframe width="560" height="315" src="{{ project.youtube }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr/>


    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
