{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% if awards.intro %}
  <div class="intro">
    {{ awards.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <ol>
  {% for award in awards.awards %}
  <div class="item">
    <li><div class="award-title">{{ award.title | markdownify }}</div></li>
  </div><!--//item-->
  {% endfor %}
  </ol>

</section><!--//section-->
{% endif %}
