{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section awards-section">
  
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% if awards.intro %}
  <div class="intro">
      <p>{{ awards.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for award in awards.assignments %}
  <div class="item">

    <div class="meta">
      <div class="upper-row" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="award_title" style="color: black;">{{ award.title }}</div>
        <div class="award_time" style="color: grey; font-style: italic;">{{ award.time }}</div>
      </div><!--//upper-row-->
      {% if award.tagline %}
      <div class="award_tagline" style="color: grey;">{{ award.tagline }}</div>
      {% endif %}

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
