{% assign books = site.data.data.books %}
{% if books %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ books.title }}
  </h2>

  {% if books.intro %}
  <div class="intro">
    {{ books.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for book in books.books %}
  <div class="item">
    {% if book.link %}
      <li><a href="{{ book.link }}">{{ book.title }}</a></li>
    {% else %}
      <li>{{ book.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ book.authors }}</div>
    <div class="publication-others">{{ book.publisher }}</div>
    {% if book.supplement %}
      <div class="publication-others">{{ book.supplement }}</div>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
