<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>My aim is to get better at understanding good UI/UX for a user where we follow a hook model cycle by Nir Eyal to design a better product for users. I have been working with Zomato as a Software Engineer for past one and a half year. I am an open source enthusiast and love contributing to various open source projects in my free time. I like playing around with javascript, have experience in working with React, vanilla javascript and dying jQuery. I started web development back in 2013 in my college where I worked with a startup called Shiplock. I have been hooked on to the web development and exploring new horizons since then.</p>
</div><!--//summary-->
</section><!--//section-->
