<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>My interest in bleeding edge devices directed me to the relatively new field of study known as digital forensics. 
        Dixie State University developed a digital forensics program which was one of the first of its kind; the DSU-Computer Crime Institute, throughout which I learned the fundamentals of hardware, file systems, data structures, operating systems, software, and networking principles.
        I also learned the legal processes and procedures of computer systems in relation to cyber crime.</p>
    <p>After graduating, I applied that knowledge to a career in Information Technology where I quickly excelled to a leadership role and furthered my knowledge of computer systems in the modern enterprise.</p>
    <p>As the world has become intrinsically reliant on technology, I have focused my career on the availability, reliability, integrity, and security of information in enterprise environments.</p>
    <p><a href="https://1drv.ms/b/s!AiQef7JZLY873GpV6O2QY1tVJHdX?e=sEBInQ" target="_blank"><button type="button">Download my resume</button></a> </p>
</div><!--//summary-->
</section><!--//section-->
