 <div class="education-container container-block">
<h2 class="container-block-title">Certifications</h2>
<div class="item">
    <h4 class="degree">Computer Forensics Certificate</h4>
    <h5 class="meta">Dixie State University</h5>
    <div class="time">2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">AccessData Certified Examiner</h4>
    <h5 class="meta">AccessData</h5>
    <div class="time">2013</div>
</div><!--//item--><div class="item">
    <h4 class="degree">AccessData Mobile Examiner</h4>
    <h5 class="meta">AccessData</h5>
    <div class="time">2013</div>
</div><!--//item-->
</div><!--//certifications-container-->
