{% assign certifications = site.data.data.certifications %} {% if certifications %}
<section class="section certifications-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span> {{ certifications.title }}
    </h2>

    {% for certifications in certifications.list %}
    <div class="item">

        <div class="meta">

            <div class="upper-row">
                <h3 class="cert-title">{{ certifications.name }}</h3>
                <div class="time">{{ certifications.start }} {% if certifications.end %} - {{ certifications.end }} {% endif %}</div>
            </div>
            <!--//upper-row-->

            <div class="second-upper-row">
                <div class="cert-org">{{ certifications.organization }} {% if certifications.credentialid %} ({{ certifications.credentialid }}) {% endif %}</div>
                {% if certifications.credentialurl %}
                <div class="cert-url"><a href="//{{ certifications.credentialurl }}" target="_blank">{{ certifications.credentialurl }}</a></div>
                {% endif %}
            </div>

        </div>
        <!--//meta-->

        <div class="details">
            {{ certifications.details | markdownify }}
        </div>

    </div>
    <!--//item-->
    {% endfor %}

</section>
<!--//section-->
{% endif %}
