 <div class="education-container container-block">
<h2 class="container-block-title">Certifications</h2>
<div class="item">
    <h4 class="degree">AWS Advanced Networking — Specialty</h4>
    <h5 class="meta">A Cloud Guru</h5>
    <div class="time">2023</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Google Cloud Platform Specialization</h4>
    <h5 class="meta">Coursera</h5>
    <div class="time">2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Deep Learning Specialization</h4>
    <h5 class="meta">Coursera</h5>
    <div class="time">2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Machine Learning Fundamentals</h4>
    <h5 class="meta">Coursera &amp; Udacity</h5>
    <div class="time">2017</div>
</div><!--//item-->
</div><!--//education-container-->
