{% assign certificates = site.data.data.sidebar.certificates %}
{% if certificates %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Certificates
  </h2>

  <ul class="list-unstyled interests-list">
    {% for certificate in certificates %}

      <li>
      {% if certificate.link %}
      <a target="_blank" rel="noopener noreferrer" href="{{ certificate.link }}">{{ certificate.item }}</a>
      {% else %}
        {{ certificate.item }}
      {% endif %}
      {% if certificate.organization %}
      <span class="lang-desc">({{ certificate.organization }})</span>
      {% endif %}
      </li>

    {% endfor %}
  </ul>

</div><!--//certificates-->
{% endif %}
