{% if site.data.conferencePublications %}
<section class="section conferencePublications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i> Conference Publications</h2>

  {% if site.data.conferencePublications.intro %}
  <div class="intro">
      <p>{{ site.data.conferencePublications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for conferencePublications in site.data.conferencePublications.publications %}
    <div class="item">
      <div class="conferencePublications-title">{{ publication.title }}</div>
      <div class="conferencePublications-authors">{{ publication.authors }}</div>
      <div class="conferencePublications-conference">{{ publication.conference }}</div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
