{% assign conferences = site.data.data.conferences %}
{% if conferences %}
<section class="section conferences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ conferences.title }}
  </h2>

  {% if conferences.intro %}
  <div class="intro">
    {{ conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for conference in conferences.papers %}
  <span class="conference-authors">{{ conference.authors }}</span>
  <span class="item style="font-style: italic;">{{ conference.title }}</span>
  <span class="publication-conference" style="color: grey;">{{ conference.conference }}</span>
  </div><!--//item-->
  {% endfor %}

  

</section><!--//section-->
{% endif %}
