 <div class="education-container container-block">
<h2 class="container-block-title"><i class="fa fa-book" aria-hidden="true"></i> Opleidingen</h2>
<div class="item">
    <h4 class="degree">MAVO niveau 4</h4>
    <h5 class="meta">Herberts Vissers College</h5>
    <div class="time">2006 - 2010</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bedrijfsadministratie <br>niveau 4</h4>
    <h5 class="meta">Nova College</h5>
    <div class="time">2010 - 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">IT Applicatie ontwikkelaar niveau 4 </h4>
    <h5 class="meta">Nova College</h5>
    <div class="time">2011 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->
