<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Education and Training</h2>
<div class="summary">
<div class="item">
    <div class="project-title"><strong>Fellowship in Clinical Neurophysiology, EEG Track</strong></div>
    <span class="project-tagline">University of Michigan
        <div class="time">2011 - 2012</div></span>

</div><!--//item-->
<div class="item">
    <div class="project-title"><strong>Neurology Residency</strong></div>
    <div class="project-tagline">University of Texas Southwestern Medical Center</div>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
<div class="item">
   <div class="project-title"><strong>Doctor of Medicine</strong></div>
    <div class="project-tagline">University of Texas Southwestern Medical Center</div>
   <div class="time">2003 - 2007</div>
</div><!--//item-->
<div class="item">
   <div class="project-title"><strong>Post-Baccalaureate Studies</strong></div>
    <div class="project-tagline">University of Texas at Austin</div>
   <div class="time">2000 - 2001</div>
</div><!--//item-->
<div class="item">
    <div class="project-title"><strong>Bachelor of Arts, English Professional Writing with Minor in Biology</strong></div>
    <h6>Magna cum laude, Phi Beta Kappa
    <div class="project-tagline">Baylor University</div>
    <div class="time">1995 - 1999</div>
</div><!--//item-->

</div><!--//summary-->
</section><!--//section-->
