{% assign events = site.data.data.events %}
{% if events %}
<section class="section events-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ events.title }}
  </h2>

  {% if events.intro %}
  <div class="intro">
    {{ events.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for talk in events.talks %}
  <div class="item">
    {% if talk.link %}
      <li><a href="{{ talk.link }}">{{ talk.title }}</a></li>
    {% else %}
      <li>{{ talk.title }}</li>
    {% endif %}
    <div class="talk-conference">{{ talk.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
