<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Engineer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">SkyWest Airlines Inc., St. George, Utah</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I am currently working on a team to support a complex infrastructure consisting primarily of Windows servers in a VMWare environment with NetApp storage appliances across multiple datacenters, WAN locations, and Azure Cloud. I have played a pivotal role in building a hybrid cloud environment with Office 365 and Azure as well as other SaaS, PaaS, and IaaS solutions. I also manage Oracle, Red Hat, and CentOS Linux machines, F5 load balancers, Cohesity backup appliances, among others. </p>  
                        <p> 
</p>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">I.T. Supervisor/Project Manager</h3>
                            <div class="time">2013 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Wilson Electronics LLC, St. George, Utah</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I managed a team of 7 people who handled all the I.T. demands of a technology manufacturing company with 250+ employees. The branches within the department included networking, systems, support, databases, DevOps, and security. I oversaw and was actively involved in the daily tasks of each branch which I lead with Agile project planning.</p>  
                        <p>My experience focused on the migration to and administration of cloud platforms including Google Cloud Platform/G Suite and Microsoft Azure/Office 365 while cultivating and maintaining a robust on-premises architecture. I was also able to use my forensic skills for eDiscovery, penetration testing, network analysis, and file recovery. I have headed extensive security initiatives to ensure the availability, safety, and integrity of company information and data.
</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Administrator</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Dixie State University, St. George, Utah</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My role here focused on improving systems security and the migration of on-premise systems, such as Sharepoint and Exchange, to the cloud. I worked in tandem with a security audit team who conducted penetration testing to identify and eliminate exploits and vulnerabilities.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
