<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer</h3>
                            <div class="time">07/2016 - 02/2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Zomato, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on Zomato’s UI Kit and Payments UI kit written in React-Redux and TypeScript. Took care of it’s development using Docker and gulp tasks for transpiling the app.</p>  
                        <p>Developed Zomato’s Alexa skill app running on Node server. It became the most requested skill on Alexa within the first week of it’s launch.</p>
			<p>Worked on project PWA, Structured the api output in an optimised data structure to reduce the data flow. Increasing 20% of user traffic.</p>
			<p>Part of AMP project, which aimed to reduce page load time for slower connections using Google’s AMP project. This reduced page load time from 3s to 1s.</p>
			<p>Worked on preventing SQL injections and other vulnerabilities like XSS, CSRF token invalidation etc across Zomato, optimisations, lazy loading images across site, improving SQL queries with use of indexes.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Google Summer of Code student</h3>
                            <div class="time">04/2015 - 08/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">KDE e.V</div>
                    </div><!--//meta-->
                    <div class="details">
			<p>Used Qt and Cantorlibs to build scripting capability inside LabPlot. CantorLibs was used to execute input by user and get the output.</p>
			<p>Wrote parser for Python2, Python3, maxima and R in C++, which parse them to Columns of LabPlot.</p>
			<p>Parser supported basic data structure like dictionary, arrays, lists etc which were translated into columns for LabPlot allowing dynamic plotting of graphs.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Season of KDE</h3>
                            <div class="time">10/2014 - 01/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">KDE e.V</div>
                    </div><!--//meta-->
                    <div class="details">
			<p>KNetWalk is a KDE Game that was written in Qt4 and KDELibs4. I ported the game to Qt5 and KDE Frameworks 5 to have the compatibility to run on latest os shipping Qt5. This change attracted a lot of users who thanked me for the much needed port for KNetWalk.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">09/2013 - 11/2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Shiplock, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
			<p>DTU startup, selected as their premier web developer for developing and managing their online e-commerce. Worked on designing database keeping in mind future goals and scalability. Built single dynamic dashboard with access layer to change the products and the information on the main site.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
