{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <!-- <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span> -->
    Experiences
  </h2>
  <hr>
  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title column left3">{{ experience.role }}</h3>
        <div class="company column middle3">{{ experience.company }}</div>
        <div class="time column right3 ">{{ experience.time }}</div> 
        

    <!--//meta-->

    {% if experience.details %}
    <div class="details ">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}
    </div>
  </div>
  {% endfor %}
</div><!--//item-->
</section><!--//section-->
{% endif %}

