{% assign highlights-profile = site.data.data.highlights-profile %}
{% if highlights-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ highlights-profile.title }}
  </h2>

  <div class="summary">
    {{ highlights-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
