{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interesses
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
