{% assign international-conference-refereed-papers = site.data.data.international-conference-refereed-papers %}
{% if international-conference-refereed-papers %}
<section class="section international-conference-refereed-papers-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ international-conference-refereed-papers.title }}
  </h2>

  {% if international-conference-refereed-papers.intro %}
  <div class="intro">
    {{ international-conference-refereed-papers.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for paper in international-conference-refereed-papers.papers %}
  <div class="item">
    {% if paper.link %}
      <li><a href="{{ publication.link }}">{{ paper.title }}</a></li>
    {% else %}
      <li>{{ paper.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ paper.authors }}</div>
    <div class="publication-others">{{ paper.conference }}</div>
    {% if paper.supplement %}
    <div class="publication-others">{{ paper.supplement }}</div>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
