{% assign intereses = site.data.data.sidebar.intereses %}
{% if intereses %}
<div class="intereses-container container-block">

  <h2 class="container-block-title">
    intereses
  </h2>

  <ul class="list-unstyled intereses-list">
    {% for interest in intereses %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//intereses-->
{% endif %}
