{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    {{ interests.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests.info %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}
      
      <head>
      
          <title>Test xScript</Img></title>
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      
      </head>
      
      <body>
      
          <div id="cat"></div>
      
          <script>
      
          var img = document.createElement("img");
          img.src = "./Github/online-cv/assets/images/cat.jpeg";
      
          var div = document.getElementById("cat");
          div.appendChild(img);
          //block.setAttribute("style", "text-align:center");
      
          </script>
      
      
    {% endfor %}
  </ul>
  
</div><!--//interests-->
{% endif %}
