<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- Custom CSS -->
      <!-- Global CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/all.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
   
</head>

<body>
   <!-- Navbar Section -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
               <li class="nav-item">
                   <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{{ site.baseurl }}/Blogs/">Blogs</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="https://drive.google.com/file/d/16qPU4KQdRv-OSHgX-cm-0_hT5_9GlQCu/view?usp=sharing">Resume</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{{ site.baseurl }}/contact/">Projects</a>
               </li>
           </ul>
       </div>
   </nav>

   <!-- Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
