{% if site.data.news %}
<section class="section news-section">
  <h2 class="section-title"><i class="fa fa-newspaper-o"></i>News</h2>

{% for news in site.data.news %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      <p>{{ news.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
