{% assign professional-activities = site.data.data.professional-activities %}
{% if professional-activities %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ professional-activities.title }}
  </h2>

  <div class="skillset">

    {% for activity in professional-activities.activities %}
    <div class="item">

      <h3 class="level-title">{{ activity.name }}</h3>

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
