<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Key Achievements</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"></a></span> - <span class="project-tagline"></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"></a></span> - <span class="project-tagline"></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"></a></span> - <span class="project-tagline"></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"></a></span> - <span class="project-tagline"></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"></a></span> - <span class="project-tagline"></span>
                </div><!--//item-->
            </section><!--//section-->
