{% assign recommendations = site.data.data.recommendations %}
{% if recommendations %}
<section class="section recommendations-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
    </span>
    {{ recommendations.title }}
  </h2>

  {% for recommendation in recommendations.list %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="recommendation">{{ recommendation.person }}</h3>
        {% if recommendation.email %}
          <div class="recommendation-contact">
            <nobr>
              <i class="fas fa-envelope"></i>
              <a class="recommendation-contact" href="mailto:{{recommendation.email}}">{{ recommendation.email }}</a>
            </nobr>
          </div>
        {% endif %}
        {% if recommendation.phone %}
          <div class="recommendation-contact">
            <nobr>
              &nbsp;
              <i class="fas fa-phone"></i>
              <a class="recommendation-contact" href="tel:{{recommendation.phone}}">{{ recommendation.phone }}</a>
            </nobr>
          </div>
        {% endif %}
      </div><!--//upper-row-->

      <div class="recommendation-role">{{ recommendation.role }}</div>

    </div><!--//meta-->

    {% if recommendation.recommendation %}
    <div class="details">
      {{ recommendation.recommendation | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

