{% assign research_int = site.data.data.research_ints %}
{% if research_int %}
<section class="section researchints-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ research_int.title }}
  </h2>

  <!-- Bold research_int.item -->
  <div class="item"><strong>{{ research_int.item }}</strong></div>

  <!-- Bulleted list for research_int.detail -->
  <ul class="detail">
    {% for detail in research_int.detail %}
      <li>{{ detail }}</li>
    {% endfor %}
  </ul>
  
</section><!--//section-->
{% endif %}
