<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.data.info.pic %}{{ site.data.info.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.data.info.fullname %}{{site.data.info.fullname}}{% endif %}</h1>
                <h3 class="tagline">{{site.data.info.tagline}}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   {% if site.data.info.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.data.info.email}}">{{site.data.info.email}}</a></li>
                    {% endif %}
                    
                    {% if site.data.info.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.data.info.phone}}">{{site.data.info.phone}}</a></li>
                    {% endif %}
                    
                    {% if site.data.info.website %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.data.info.website}}" target="_blank">{{site.data.info.website}}</a></li>
                    {% endif %}
                    
                    {% if site.data.info.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.data.info.linkedin}}" target="_blank">linkedin.com/in/{{site.data.info.linkedin}}</a></li>
                    {% endif %}
                    
                    {% if site.data.info.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.data.info.github}}" target="_blank">github.com/{{site.data.info.github}}</a></li>
                    {% endif %}
                    
                    {% if site.data.info.twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.data.info.twitter}}" target="_blank">{{site.data.info.twitter}}</a></li>
                    {% endif %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include interests.html %}
           {% include language.html %}
           {% include about.html %}
        
            
        </div><!--//sidebar-wrapper-->
