{% assign skills-competencies = site.data.data.skills-competencies %}
{% if skills-competencies %}
<section class="section skills-competencies-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    Skills &amp; Competencies
  </h2>

  {% for skillcomp in skills-competencies %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ skillcomp.type }}</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if skillcomp.details %}
    <div class="details">
      {{ skillcomp.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
