<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Microsoft Azure</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Windows Server</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Office 365 Administration</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="99%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Amazon Web Services</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">LINUX/UNIX (Kali, Caine, Red Hat, Amazon, Ubuntu, Arch, Mint, Gnome, centOS)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">LAN/WAN TCP/IP Administration</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Firewalls</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">VPNs</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Powershell</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">SSO/SAML/ADFS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">WAFs</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">IDS/IPS/UTM</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Load Balancing</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">SSL Certificates</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title"></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                                        
                </div>  
            </section><!--//skills-section-->
