<section class="section talks-section">
  <h2 class="section-title"><i class="fa fa-comments-o"></i>Talks</h2>

{% for talk in site.data.talks %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <div class="place">{{ talk.place }}</div>
        <div class="time">{{ talk.time }}</div>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if talk.details %}
    <div class="details">
      <p>{{ talk.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section>
