@media print {
   body {
      font-size: 12pt;
   }

   .main-wrapper .time {
      float: right;
      -webkit-print-color-adjust: exact;
   }

   .sidebar-wrapper {
      position: static;
      float: right;
      width: 40%;
      -webkit-print-color-adjust: exact;
   }

   .remove-container.container-block {
      display: none;
   }

   .skillset .level-bar-inner {
      -webkit-print-color-adjust: exact;
   }
}