@media print {
   body {
      margin-top: 40px;
      font-size: 9pt;
      background-color: #ffffff;
   }

   q {
      font-style: italic;
   }

   .break-before {
      clear: both;
      page-break-before: always;
      margin-top: 50px;
   }

   .sidebar-wrapper {
      position: static;
      float: right;
      width: 40%;
      margin-left: 40px;
   }

   .wrapper {
      box-shadow: none;
   }

   .container-block {
      padding-bottom: 20px !important;
   }

   // h3.section-title i.fa-circle {
   //    color: #2d7788;
   // }

   // h3.section-title i.fa-inverse {
   //    color: #ffffff;
   // }

   .main-wrapper .upper-row {
      position: relative;
      overflow: hidden;
      margin-bottom: 2px;
   }

   .main-wrapper .job-title,
   .main-wrapper .degree {
      margin-top: 0;
      margin-bottom: 0;
   }

   .main-wrapper .time {
      position: absolute;
      right: 0;
      top: 0;
   }

   .footer {
      display: none !important;
      padding: 0;
      margin: 0;
   }
}