/* red variables */
$theme-color: #BA251A;
$text-color: #120B0B;
$text-color-secondary: #EBCCCA;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
