---
#Add "layout: compress" here to compress the html code
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <!-- download message -->
<!-- <div class="no-print">
  <div id="cv_download">
    You can also
    <a href="javascript:window.print()">
       <i class="fas fa-print"></i> Print or <i class="fas fa-save"></i> Save it as PDF
    </a>.
  </div>
</div> -->

  {% include head.html %}
  <style>
    body {
      padding: 0 !important;
    }
    .wrapper {
      max-width: unset !important;
    }
  </style>
  <body>
    <div class="wrapper">
      {% include sidebar.html %}

      <div class="main-wrapper">{{ content }}</div>
    </div>
    {% include scripts.html %}
  </body>
</html>
